/*------ General ------*/
html {
    overflow-y: scroll;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #222629;
    color: white;
}

* {
    box-sizing: border-box;
}

.btn-outline-secondary {
    margin: 0 5px 0 5px;
}
.btn-outline-secondary:hover {
    background-color: #5dafcd;
    border-color: #5dafcd;
}

.content {
    min-height: 90vh;
}

footer {
    display: flex;
    justify-content: space-around;
    background: #222629;
    color: white;
    padding: 15px;
    z-index: 101;
}

.footer{
    border-top: solid 1px #5dafcd;
}

.error{
    color: red;
    font-weight: bold;
}

/*--- Nav Menu ---*/
.menu {
    justify-content: flex-end;
}
.navbar {
    background-color: #222629;
    border-bottom: #5dafcd solid 1px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #5dafcd;
}
.space{
    height: 56px;
}
.navbar-text {
    font-weight: bold;
}

/*----- Masonry -----*/
/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
    width: 33.333%;
}
.grid-item {
    float: left;
}
.grid-item img {
    display: block;
    width: 100%;
}


/*----- Sidebar -----*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(93, 175, 205, .4);
    padding-top: 56px;
}
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar .nav-link {
    font-weight: 500;
    color: rgba(255,255,255,.75);
}
.sidebar .nav-link:hover {
    color: #5dafcd;
}
.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}
.sidebar .nav-link.active {
    color: #007bff;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}
.nav-item-secondary{
    background: rgba(71,71,71);
    box-shadow: inset -1px 0 0 rgba(93, 175, 205, .4);
    width: 100%;
}

/*----- action links -----*/
.formLink, .formLink:hover,
.backLink, .backLink:hover,
.managementLink, .managementLink:hover
{
    color: #5dafcd;
    font-weight: bold;
}


/*---- Home page ----*/
.popularPhotos{
    padding: 0;
    overflow: hidden
}
.homeItem{
    position: relative;
}
.photoInfos {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 11;
    opacity: 0;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1c1c+43,131313+63,141414+74&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.43) 43%, rgba(19,19,19,0.63) 63%, rgba(20,20,20,0.74) 74%, rgba(20,20,20,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(28,28,28,0) 0%,rgba(28,28,28,0.43) 43%,rgba(19,19,19,0.63) 63%,rgba(20,20,20,0.74) 74%,rgba(20,20,20,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(28,28,28,0) 0%,rgba(28,28,28,0.43) 43%,rgba(19,19,19,0.63) 63%,rgba(20,20,20,0.74) 74%,rgba(20,20,20,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c1c1c', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
    line-height: 1.2rem;
    height: 25%;
    justify-content: end;
    padding: 10px;
    transform: translateX(1rem);
    transition: all 0.4s ease-in-out;
    margin: -0.05%;
}
.homeItem:hover .photoInfos {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.4s ease-in-out;
}
.photoAuthor a {
    color: white;
    font-weight: bold;
}
.photoTitle {
    font-style: italic;
}
.rejoin{
    padding: 40px 0 40px 0;
    background-color: #5dafcd;
}
.goProfil, .goProfil:hover {
    color: white;
    font-weight: bold;
}

/*---- Map ---- */
#map{
    height: 500px;
    width: 700px;
}

#mapAndPhoto{
    display: flex;
    align-items: center;
}

/*---- Main Gallery ----*/
#gallery {
    margin-left: 30px;
    position: relative;
}
.thumbnails{
    max-width: 500px;
    max-height: 500px;
    width: auto !important;
}
#rslides p{
    visibility: hidden;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(11, 11, 11) 1px 0px 0px, rgb(11, 11, 11) 0.533333px 0.833333px 0px, rgb(11, 11, 11) -0.416667px 0.916667px 0px,
    rgb(11, 11, 11) -0.983333px 0.133333px 0px, rgb(11, 11, 11) -0.65px -0.75px 0px, rgb(11, 11, 11) 0.283333px -0.966667px 0px,
    rgb(11, 11, 11) 0.966667px -0.283333px 0px;
}
#rslides:hover p{
    visibility: visible;
}
.caption {
    position: absolute;
    display: block;
    bottom: -16px;
    left: 0;
    right: 0;
    padding: 15px;
}
.author {
    position: absolute;
    display: block;
    left: 0;
    padding: 5px;
}
.author:hover {
    text-decoration: underline;
}
.fas.fa-heart {
    font-size: 1rem;
}

/*---- Around Gallery ---- */
.thumbnails2{
    max-width: 300px;
    max-height: 200px;
    width: auto !important;
    display: flex;
    margin: auto;
}
.caption2{
    text-align: center;
}

#boundsGallery {
    position: relative;
}
.MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
}
.MS-content .item {
    display: inline-block;
    /* width: 20%; */
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
}
.MS-controls{
    display: none;
}
.MS-controls button {
    position: absolute;
    top: 35%;
    background: none;
    border: none;
}
#boundsGallery .MS-controls .MS-left {
    left: 10px;
}
#boundsGallery .MS-controls .MS-right {
    right: 10px;
}
.fas{
    font-size: 3em;
}

/*---- Member Page ----*/
/*- Photos -*/
.itemMember img {
    display: block;
    width: 100%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 9;
}
.itemMember:hover img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    z-index: 10;
}
.photoItem{
    position: relative;
    text-shadow: rgb(11, 11, 11) 1px 0px 0px, rgb(11, 11, 11) 0.533333px 0.833333px 0px, rgb(11, 11, 11) -0.416667px 0.916667px 0px,
    rgb(11, 11, 11) -0.983333px 0.133333px 0px, rgb(11, 11, 11) -0.65px -0.75px 0px, rgb(11, 11, 11) 0.283333px -0.966667px 0px,
    rgb(11, 11, 11) 0.966667px -0.283333px 0px;
}
.photoName {
    position: absolute;
    bottom: 0;
    z-index: 12;
    color: white;
    font-weight: bold;
    left: 0;
    opacity: 0;
}
.itemMember:hover .photoName,
.itemMember:hover .photoLikes,
.itemMember:hover .voteButton{
    opacity: 1;
    transition: opacity .4s ease-in-out;
}
.photoLikes {
    position: absolute;
    bottom: 0;
    z-index: 12;
    color: white;
    font-weight: bold;
    right: 0;
    opacity: 0;
}
.voteButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 12;
    color: white;
    transition: color .5s;
    opacity: 0;
    background: transparent;
    border: none;
    padding: 0;
    text-shadow: rgb(11, 11, 11) 1px 0px 0px, rgb(11, 11, 11) 0.533333px 0.833333px 0px, rgb(11, 11, 11) -0.416667px 0.916667px 0px,
    rgb(11, 11, 11) -0.983333px 0.133333px 0px, rgb(11, 11, 11) -0.65px -0.75px 0px, rgb(11, 11, 11) 0.283333px -0.966667px 0px,
    rgb(11, 11, 11) 0.966667px -0.283333px 0px;
    cursor: pointer;
}
.voteButton:hover{
    color: #ff0159;
}
.liked{
    color: #ff0159;
}
.voteForm {
    margin: 0;
}

/*- Comments -*/
.commentForm{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.infosCom {
    font-size: 0.8rem;
}
.textCom {
    font-size: 1.2rem;
}

/*----- Admin -----*/
/*--- Members management ---*/
.tableMembers thead{
    background: #5dafcd;
}
.actionLink:hover {
    color: #5dafcd;
}
.tdLink {
    padding: 0 !important;
}
.actionLink {
    color: white;
    display: block;
    padding: 0.75em;
}
.memberDescription ul {
    list-style: none;
}


/*--Media Queries--*/
@media all and (max-width: 768px){
    .grid-sizer,
    .grid-item {
        width: 100%;
    }

    .photoLikes {
        top: 0;
    }
}

@media all  and (max-width: 363px) {
    .space{
        height: 87px;
    }

}