<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="public/style.css" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid block-page">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                <a class="navbar-brand name" href="#">Projet 9</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menu" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                    </ul>
                </div>
                <form class="form-inline">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Se Connecter</button>
                    <a href="index.php?action=registration"><button class="btn btn-sm btn-outline-secondary" type="button">S'inscrire</button></a>
                </form>
            </nav>
            <div class="espace" style="height: 87px">
            </div>
            <!-- content -->
            <div class="row content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="row">
                <footer class="col-sm-12">
                    <div>
                        Mentions Légales
                    </div>
                    <div>
                        Copyright
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript" src="public/js/script.js"></script>
    </body>
</html>
