{% extends 'Template.php.twig' %}

{% block title %}Ajouter une nouvelle photo{% endblock %}

{% block content %}
    <div class="col-lg-8 offset-lg-2 text-center">
        <h2>Ajouter une nouvelle photo dans votre galerie :</h2>
        <form method="post" action="index.php?action=confirmAdd" enctype="multipart/form-data">
            <input type="hidden" value="{{ session.id }}" name="id"/>
            <div class="form-group">
                <label for="gallery">Choisir une photo (max. 1 Mo) :</label>
                <input type="hidden" name="MAX-FILE-SIZE" value="1048576"/>
                <input type="file" name="gallery" class="parcourir" required=""/>
            </div>
            <div class="form-group">
                <label for="titre">Titre de la photo (max. 50 caractères) :</label>
                <input type="text" name="titre" placeholder="Titre de la photo" id="titre" required=""/>
            </div>
            <div class="form-group">
                <label for="description">Description de la photo : </label>
                <textarea name="description" id="description" class="form-control" rows="5" required="">Description ...</textarea>
            </div>
            <div class="form-group">
                <label for="latitude">Latitude du lieu de prise de vue:</label>
                <input type="text" name="latitude" placeholder="ex : 43.216667" id="titre" required=""/>
                <label for="longitude">Longitude du lieu de prise de vue :</label>
                <input type="text" name="longitude" placeholder="ex : 7.752111" id="titre" required=""/>
                <p id="gpsHelpBlock" class="form-text text-muted">
                    Vous pouvez utilisez le site de <a href="https://www.coordonnees-gps.fr/" target="_blank">Google</a>
                    ou le site <a href="http://www.gpsfrance.net/adresse-vers-coordonnees-gps" target="_blank">GPSFrance</a>
                    pour trouver les coordonées.
                </p>
            </div>
            <div class="form-group">
                <label for="status">Choisir une catégorie pour la photo :</label>
                <select name="status">
                    <option value="0">Public</option>
                    <option value="1">Privé</option>
                </select>
            </div>
            <input type="submit" name="submit" value="Envoyer" class="envoi"/>
        </form>
    </div>
{% endblock %}