{% extends 'Template.php.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section class="col-md-6 offset-md-3 home">
        <h2>Bienvenue {% if session.id and session.pseudo %}{{ session.pseudo }}{% endif %} !</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla tortor, pulvinar nec lacus vel, blandit cursus enim.
            Phasellus tristique nunc non accumsan blandit. Curabitur at ornare ipsum. Sed diam elit, vehicula id diam eget, vestibulum
            feugiat arcu. Sed egestas, nibh non tincidunt dignissim, dui urna dapibus justo, non placerat quam mauris a mi. Ut vel
            nulla sit amet elit molestie efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Nullam ornare ullamcorper nibh at auctor.
        </p>
    </section>
    <div class="col-lg-10 offset-lg-1">
        <div class="grid">
            <div class="grid-sizer">
                {% if session.id and session.pseudo %}
                    {% for photo in photos %}
                        <div class="grid-item">
                            <img src="{{ photo.url }}" />
                        </div>
                    {% endfor %}
                {% else %}
                    {% for photo in photos %}
                        {% if photo.status == 0 %}
                            <div class="grid-item">
                                <img src="{{ photo.url }}" />
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-12 texte">
        <p>Rejoignez-nous !</p>
        <div class="row">
            <div class="col-lg-1 offset-lg-5">
                <button type="button" class="btn btn-outline-secondary">Se Connecter</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-outline-secondary">S'inscrire</button>
            </div>
        </div>
    </div>
{% endblock %}



