{% extends 'Template.php.twig' %}

{% block title %}Erreur{% endblock %}

{% block content %}
<div class="col-12 text-center my-5 error">
    <a class="helpLink" href="index.php">Retour à la page d'accueil</a>
    <p class="my-3">Une erreur est survenue : {{ msgError }}
</div>
{% endblock %}


