{% extends 'Template.php.twig' %}

{% block title %}P9 Accueil{% endblock %}

{% block content %}
<section class="col-md-6 offset-md-3 home">
    <h2>Bienvenue !</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla tortor, pulvinar nec lacus vel, blandit cursus enim.
        Phasellus tristique nunc non accumsan blandit. Curabitur at ornare ipsum. Sed diam elit, vehicula id diam eget, vestibulum
        feugiat arcu. Sed egestas, nibh non tincidunt dignissim, dui urna dapibus justo, non placerat quam mauris a mi. Ut vel
        nulla sit amet elit molestie efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Nullam ornare ullamcorper nibh at auctor.
    </p>
    <p>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras posuere ut metus id
        vulputate. Integer imperdiet tempor elit eu congue. Proin elementum enim nunc, eu sollicitudin arcu imperdiet in. Donec
        magna quam, tristique et magna ut, efficitur ultricies velit. Duis nec magna eget neque fringilla laoreet. Praesent accumsan
        quis enim sed accumsan. Vestibulum eget bibendum dui. Aliquam lectus lectus, convallis in semper id, iaculis sit amet erat.
        Morbi sodales, massa interdum pharetra ullamcorper, nulla leo maximus nisi, sit amet volutpat turpis justo id nibh. Aliquam
        venenatis tristique lorem, in mattis libero bibendum vel.
    </p>
</section>
{% endblock %}



