{% extends 'Template.php.twig' %}

{% block title %}Carte photos{% endblock %}

{% block content %}
    <div class="col-12 my-3">
        <div id="mapAndPhoto" class="col-12 mb-3">
            <div id="map" class="col-xs-12 col-lg-6"></div>
            <div id="gallery">
                <ul id="rslides"></ul>
            </div>
        </div>
        <div id="text"></div>
        <div id="boundsGallery">
            <div id="slider" class="MS-content"></div>
            <div class="MS-controls">
                <button class="MS-left"><i class="fas fa-angle-left"></i></button>
                <button class="MS-right"><i class="fas fa-angle-right"></i></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}<script type="text/javascript" src="public/js/initMap.js"></script>{% endblock %}