{% for photo in aroundPhotos %}

    <div class="item">
        <a class="thumbnailsLink2"  href="{{ photo.url }}">
            <img class="thumbnails2" alt="" src="{{ photo.url }}" />
        </a>
        <p class="caption2">{{ photo.description }}</p>
    </div>

{% endfor %}